{{>header}}
<div class="container">
  {{>nav}}
  <h1>All users</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#suppliers}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{username}}</td>
        <td>{{pwd}}</td>
        <td>
          <h4>
            <span class="badge badge-info"
              ><a class="text-light" href="/supplier-update/{{id}}"
                >edit</a
              ></span
            >
          </h4>
        </td>
      </tr>
      {{/suppliers}}
    </tbody>
  </table>
  <h4>
    <a class="badge badge-success" href="/supplier-add">Add a new user</a>
  </h4>
</div>
{{>footer}}
