<div class="alert alert-primary">All fields are required</div>
<h1>User informations</h1>
<div class="form-group">
  <label for="name">Username</label>
  <input
    value="{{supplier.username}}"
    type="text"
    class="form-control"
    id="name"
    name="name"
    aria-describedby="nameHelp"
    placeholder="Enter name"
  />
  <small id="nameHelp" class="form-text text-muted"
    >Username of this user</small
  >
</div>
<div class="form-group">
  <label for="address">Password</label>
  <input
    value="{{supplier.pwd}}"
    type="text"
    class="form-control"
    id="address"
    name="address"
    aria-describedby="addressHelp"
    placeholder="enter address"
  />
  <small id="addressHelp" class="form-text text-muted"
    >Password for this user</small
  >
</div>
